

* {
    box-sizing: border-box;
}

/* Demo Only */

.table-wrapper {

}

.resizeable-table {

}

.resizeable-table-inspection {
    display: grid;
    max-height: 450px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: whitesmoke;
    padding-right: 24px;
    margin-left: 24px;
    border-left: 1px solid #f0f0f0;
    grid-auto-columns: calc(25% - 30px);
    grid-template-columns:
    minmax(55px, 0.1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)

        minmax(155px, 1fr)
    minmax(155px, 1fr)
    minmax(155px, 1fr)
}

.first{
    position: sticky;
    left: 55px;
    z-index: 4;
    top: 0;
}

.tableHeaders{
    position: sticky;
    top: 0;
    z-index: 2;
}

.checkbox{
    max-width: 60px;
    min-width: 30px;
    border-right: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
    z-index: 2;
}

.checkboxHeader{
    position: sticky;
    border-right: 1px solid #ccc;
    left: 0;
    z-index: 4;
    top: 0;
}

.Items{
    position: sticky;
    left: 55px;
    z-index: 2;
}

table thead,
table tbody,
table tr {
    display: contents;
}

table th {
    position: relative;
    font-size: 14px;
    border-top: 1px solid #f0f0f0;;
    padding: 10px 20px;
    display: flex;
    background-color: #fafafa;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;;
}

table th,
table td {
    text-align: left;
    width: 100%;
}

table td {
    background-color: white;
    display: flex;
    align-items: center;
}

table th span,
table td span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-size: 14px;
    font-weight: 400;
}

table tr td {
    border-bottom: 1px solid #f0f0f0;;
    border-right: 1px solid #f0f0f0;;
    padding: 16px 20px;
}

.resize-handle {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 7px;
    right: 0;
    top: 0;
    z-index: 1;
    border-right: 1px solid #ccc;
}

.resize-handle:hover {
    border-color: #1890ff;
}

.resize-handle.active {
    border-color: #1890ff;
}


.Items:hover .Details{
    display:block;
}

.Details{
    display: none;
    cursor: pointer;
}