

* {
    box-sizing: border-box;
}

/* Demo Only */

.table-wrapper {
    margin-bottom: 25px;
    border-radius: 6px;
    background: whitesmoke;
    overflow: hidden; /* Clip any scrollbars that appear */
}

.resizeable-table {
    display: grid;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: whitesmoke;
    padding-right: 24px;
    margin-left: 24px;
    border-left: 1px solid #ccc;
    grid-auto-columns: calc(25% - 30px);
    grid-template-columns:
    minmax(55px, 0.1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr);
}

.checkbox{
    max-width: 60px;
    min-width: 30px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
}

.Items{
    position: sticky;
    left: 55px;
    z-index: 2;
}

table thead,
table tbody,
table tr {
    display: contents;
}

table th {
    position: relative;
    font-size: 18px;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: whitesmoke;
}

table th,
table td {
    text-align: left;
    width: 100%;
}

table td {
    background-color: rgba(251, 250, 250);

}

table th span,
table td span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    font-size: 14px;
    font-weight: 400;
}

table tr td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 16px 20px;
}

.resize-handle {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 7px;
    right: 0;
    top: 0;
    z-index: 1;
    border-right: 1px solid #ccc;

}

.resize-handle:hover {
    border-color: #ccc;
}

.resize-handle.active {
    border-color: #517ea5;
}
