

* {
    box-sizing: border-box;
}

/* Demo Only */

.rdrCalendarWrapper .rdrDateRangeWrapper{
    width: 582px !important;
}

.table-wrapper {
    margin-bottom: 25px;
    border-radius: 6px;
    background: whitesmoke;
    overflow: hidden; /* Clip any scrollbars that appear */
}

.resizeable-table-project {
    display: grid;
    overflow: auto;
    background-color: whitesmoke;
    padding-right: 24px;
    margin-left: 24px;
    border-left: 1px solid #ccc;
    grid-auto-columns: calc(25% - 30px);
    grid-template-columns:
    minmax(55px, 0.1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
}

.deliverables-table {
    display: grid;
    overflow: auto;
    background-color: whitesmoke;
    padding-right: 24px;
    margin-left: 24px;
    border-left: 1px solid #ccc;
    grid-auto-columns: calc(25% - 30px);
    grid-template-columns:
    minmax(55px, 0.1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 1fr)
    minmax(55px, 2fr)
}

.checkbox{
    max-width: 60px;
    min-width: 30px;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
}

.Items{
    position: sticky;
    left: 55px;
    z-index: 2;
}



.resize-handle {
    display: block;
    position: absolute;
    cursor: col-resize;
    width: 7px;
    right: 0;
    top: 0;
    z-index: 1;
    border-right: 1px solid #ccc;

}

.resize-handle:hover {
    border-color: #ccc;
}

.resize-handle.active {
    border-color: #517ea5;
}

.Many-Items{
    display: flex;
    justify-content: space-between;
}

.Many-Items span{
   color: #1890FF;
    display: flex;
    align-items: center;
    cursor: pointer;
}
