@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, button, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Jost', sans-serif;
}

/*input::-webkit-input-placeholder {*/
/*    font-family: 'Manrope3', sans-serif;*/
/*    font-size: '14px';*/
/*    line-height: '18px';*/
/*}*/

/*input::-ms-input-placeholder {*/
/*    font-family: 'Manrope3', sans-serif;*/
/*    font-size: '14px';*/
/*    line-height: '18px';*/
/*}*/

/*input::-moz-placeholder {*/
/*    font-family: 'Manrope3', sans-serif;*/
/*    font-size: '14px';*/
/*    line-height: '18px';*/
/*}*/

/*input::-moz-placeholder {*/
/*    font-family: 'Manrope3', sans-serif;*/
/*    font-size: '14px';*/
/*    line-height: '18px';*/
/*}*/

/* h3{
    font-family: "JetBrains Mono", sans-serif;
} */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #ffffff;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*@font-face {*/
/*    font-family: 'Manrope3';*/
/*    src:*/
/*            url('./common/fonts/manrope3/Manrope3-Thin-100.woff2') format('woff2'),*/
/*            url('./common/fonts/manrope3/Manrope3-Thin-100.woff') format('woff');*/
/*    font-weight: 100;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Manrope3';*/
/*    src:*/
/*            url('./common/fonts/manrope3/Manrope3-Light-300.woff2') format('woff2'),*/
/*            url('./common/fonts/manrope3/Manrope3-Light-300.woff') format('woff');*/
/*    font-weight: 300;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Manrope3';*/
/*    src:*/
/*            url('./common/fonts/manrope3/Manrope3-Regular-400.woff2') format('woff2'),*/
/*            url('./common/fonts/manrope3/Manrope3-Regular-400.woff') format('woff');*/
/*    font-weight: 400;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Manrope3';*/
/*    src:*/
/*            url('./common/fonts/manrope3/Manrope3-Medium-500.woff2') format('woff2'),*/
/*            url('./common/fonts/manrope3/Manrope3-Medium-500.woff') format('woff');*/
/*    font-weight: 500;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Manrope3';*/
/*    src:*/
/*            url('./common/fonts/manrope3/Manrope3-Semibold-600.woff2') format('woff2'),*/
/*            url('./common/fonts/manrope3/Manrope3-Semibold-600.woff') format('woff');*/
/*    font-weight: 600;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Manrope3';*/
/*    src:*/
/*            url('./common/fonts/manrope3/Manrope3-Bold-700.woff2') format('woff2'),*/
/*            url('./common/fonts/manrope3/Manrope3-Bold-700.woff') format('woff');*/
/*    font-weight: 700;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Manrope3';*/
/*    src:*/
/*            url('./common/fonts/manrope3/Manrope3-ExtraBold-800.woff2') format('woff2'),*/
/*            url('./common/fonts/manrope3/Manrope3-ExtraBold-800.woff') format('woff');*/
/*    font-weight: 800;*/
/*}*/




/* @font-face {
   font-family: 'Inter';
   src: url('./common/fonts/inter/Inter-Regular.ttf') format('opentype');
   font-weight: 400;
}

@font-face {
   font-family: 'Inter';
   src: url('./common/fonts/inter/Inter-SemiBold.ttf') format('opentype');
   font-weight: 600;
} */
